.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 10px 15px 10px 10px;
  margin: 0 auto;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  border-radius: 5%;
  padding: 10px;
  width: 50%;
}

.orders {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid green;
  padding: 20px;
  width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
